--no-binary MySQL-python
urllib3
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
mysqlclient
sqlalchemy_mixins
google-cloud-bigquery
simpleeval
Flask-RESTful
google-api-python-client
google-cloud-logging
google-cloud-tasks
googleapis_common_protos
GoogleAppEngineCloudStorageClient
pyyaml
